.version.about_artist /* version checker */
{
	color: #0000EC;
	background-color: #5BDFDB;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 798.6px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 64px;
}

#pu504
{
	width: 0.01px;
	margin-left: 20px;
}

#u504
{
	z-index: 34;
	width: 136px;
	margin-right: -10000px;
}

#u433-4
{
	z-index: 61;
	width: 379px;
	min-height: 71px;
	background-color: transparent;
	line-height: 70px;
	font-size: 58px;
	color: #FFFFFF;
	font-family: alex-brush, cursive;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 271px;
}

#menuu115
{
	z-index: 9;
	width: 784px;
	top: 0px;
	left: 50%;
	margin-left: -324px;
}

#u143
{
	width: 194px;
	min-height: 58px;
	margin-right: -10000px;
}

#u144
{
	width: 194px;
	padding-bottom: 12px;
}

#u144:hover
{
	margin: 0px;
}

#u146-4
{
	width: 190px;
	min-height: 42px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 6px;
}

#u144:hover #u146-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px -10000px 0px 0px;
}

#u156
{
	width: 194px;
	min-height: 58px;
	margin-right: -10000px;
	left: 196px;
}

#u159
{
	width: 194px;
	padding-bottom: 12px;
}

#u144.MuseMenuActive,#u159:hover
{
	margin: 0px;
}

#u161-4
{
	width: 190px;
	min-height: 42px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 6px;
}

#u144.MuseMenuActive #u146-4,#u159:hover #u161-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px -10000px 0px 0px;
}

#u169
{
	width: 195px;
	min-height: 58px;
	margin-right: -10000px;
	left: 392px;
}

#u172
{
	width: 195px;
	padding-bottom: 12px;
}

#u159.MuseMenuActive,#u172:hover
{
	margin: 0px;
}

#u173-4
{
	width: 191px;
	min-height: 42px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 6px;
}

#u159.MuseMenuActive #u161-4,#u172:hover #u173-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px -10000px 0px 0px;
}

#u182
{
	width: 195px;
	min-height: 58px;
	margin-right: -10000px;
	left: 589px;
}

#u185
{
	width: 195px;
	padding-bottom: 12px;
}

#u172.MuseMenuActive,#u185:hover
{
	margin: 0px;
}

#u185.MuseMenuActive
{
	margin: 0px;
}

#u186-4
{
	width: 191px;
	min-height: 42px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 6px;
}

#u172.MuseMenuActive #u173-4,#u185:hover #u186-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px -10000px 0px 0px;
}

#u185.MuseMenuActive #u186-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px -10000px 0px 0px;
}

#u257-19
{
	z-index: 36;
	width: 877px;
	min-height: 495px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: justify;
	font-family: droid-serif, serif;
	font-weight: 400;
	margin-left: 42px;
	margin-top: 19px;
	position: relative;
}

#pu260-4
{
	width: 0.01px;
	margin-left: 57px;
	margin-top: 10px;
}

#u260-4
{
	z-index: 55;
	width: 234px;
	min-height: 41px;
	background-color: transparent;
	line-height: 49px;
	font-size: 41px;
	color: #FFFFFF;
	font-family: alex-brush, cursive;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#u261
{
	z-index: 59;
	width: 155px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 346px;
}

#pu249
{
	width: 0.01px;
	padding-bottom: 70px;
	margin-left: 20px;
	margin-top: -121px;
}

#u249
{
	z-index: 3;
	width: 70px;
	bottom: 39px;
	left: 120px;
}

#u255-4
{
	z-index: 5;
	width: 358px;
	min-height: 28px;
	bottom: 54px;
	left: 199px;
}

#u189
{
	z-index: 2;
	width: 147px;
	min-height: 32px;
	bottom: 54px;
	right: 105px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 34px;
}

#page .verticalspacer
{
	clear: both;
}

