.version.gallery /* version checker */
{
	color: #000000;
	background-color: #FC8DC0;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1405.95px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 148px;
}

#pu504
{
	width: 0.01px;
	margin-left: 20px;
}

#u504
{
	z-index: 34;
	width: 136px;
	margin-right: -10000px;
}

#u470-4
{
	z-index: 63;
	width: 573px;
	min-height: 54px;
	background-color: transparent;
	line-height: 53px;
	font-size: 44px;
	color: #FFFFFF;
	font-family: droid-serif, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 174px;
}

#menuu115
{
	z-index: 9;
	width: 784px;
	top: 0px;
	left: 50%;
	margin-left: -324px;
}

#u143
{
	width: 194px;
	min-height: 58px;
	margin-right: -10000px;
}

#u144
{
	width: 194px;
	padding-bottom: 12px;
}

#u144:hover
{
	margin: 0px;
}

#u146-4
{
	width: 190px;
	min-height: 42px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 6px;
}

#u144:hover #u146-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px -10000px 0px 0px;
}

#u156
{
	width: 194px;
	min-height: 58px;
	margin-right: -10000px;
	left: 196px;
}

#u159
{
	width: 194px;
	padding-bottom: 12px;
}

#u144.MuseMenuActive,#u159:hover
{
	margin: 0px;
}

#u161-4
{
	width: 190px;
	min-height: 42px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 6px;
}

#u144.MuseMenuActive #u146-4,#u159:hover #u161-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px -10000px 0px 0px;
}

#u169
{
	width: 195px;
	min-height: 58px;
	margin-right: -10000px;
	left: 392px;
}

#u172
{
	width: 195px;
	padding-bottom: 12px;
}

#u159.MuseMenuActive,#u172:hover
{
	margin: 0px;
}

#u173-4
{
	width: 191px;
	min-height: 42px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 6px;
}

#u159.MuseMenuActive #u161-4,#u172:hover #u173-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px -10000px 0px 0px;
}

#u182
{
	width: 195px;
	min-height: 58px;
	margin-right: -10000px;
	left: 589px;
}

#u185
{
	width: 195px;
	padding-bottom: 12px;
}

#u172.MuseMenuActive,#u185:hover
{
	margin: 0px;
}

#u185.MuseMenuActive
{
	margin: 0px;
}

#u186-4
{
	width: 191px;
	min-height: 42px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 6px;
}

#u172.MuseMenuActive #u173-4,#u185:hover #u186-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px -10000px 0px 0px;
}

#u185.MuseMenuActive #u186-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px -10000px 0px 0px;
}

#slideshowu438
{
	z-index: 36;
	width: 0.01px;
	height: 396px;
	margin-left: 60px;
	margin-top: 29px;
	position: relative;
}

#u456
{
	position: absolute;
	width: 567px;
	height: 396px;
	background-color: transparent;
	left: 253px;
}

#u456popup
{
	z-index: 37;
}

#u457
{
	z-index: 38;
	width: 567px;
	height: 396px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u459
{
	z-index: 40;
	width: 567px;
	height: 396px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u461
{
	z-index: 42;
	width: 567px;
	height: 396px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u457_clip,#u459_clip,#u461_clip
{
	overflow: hidden;
	width: 567px;
	height: 396px;
}

#u457_img,#u459_img,#u461_img
{
	margin-left: -14px;
	margin-right: -13px;
}

#u439
{
	position: absolute;
	width: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 145px;
	top: 123px;
}

#u439popup
{
	z-index: 44;
}

#u440
{
	z-index: 45;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 15px;
}

#u444
{
	z-index: 47;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 85px;
}

#u442
{
	z-index: 49;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 155px;
}

#u440.SSSlideLinkSelected,#u444.SSSlideLinkSelected,#u442.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 4px -10000px 0px 0px;
}

#u449-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 341px;
	left: 81px;
}

#u449-4popup
{
	z-index: 51;
}

#u455-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 341px;
	left: 50px;
}

#u455-4popup
{
	z-index: 55;
}

#u463-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 341px;
	left: 150px;
}

#u463-4popup
{
	z-index: 59;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u503-4
{
	z-index: 94;
	width: 357px;
	min-height: 61px;
	background-color: transparent;
	line-height: 53px;
	font-size: 44px;
	color: #FFFFFF;
	font-family: droid-serif, serif;
	font-weight: 400;
	margin-left: 301px;
	margin-top: 89px;
	position: relative;
}

#u249
{
	z-index: 3;
	width: 70px;
	bottom: 39px;
	left: 120px;
}

#u189
{
	z-index: 2;
	width: 147px;
	min-height: 32px;
	bottom: 54px;
	right: 105px;
}

#u255-4
{
	z-index: 5;
	width: 358px;
	min-height: 28px;
	bottom: 54px;
	left: 199px;
}

#slideshowu471
{
	z-index: 67;
	width: 0.01px;
	height: 477px;
	margin-left: 33px;
	margin-top: 34px;
	position: relative;
}

#u489
{
	position: absolute;
	width: 612px;
	height: 477px;
	background-color: transparent;
}

#u489popup
{
	z-index: 68;
}

#u490
{
	z-index: 69;
	width: 612px;
	height: 477px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u492
{
	z-index: 71;
	width: 612px;
	height: 477px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u494
{
	z-index: 73;
	width: 612px;
	height: 477px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u490_clip,#u492_clip,#u494_clip
{
	overflow: hidden;
	width: 612px;
	height: 477px;
}

#u490_img,#u492_img,#u494_img
{
	margin-left: -52px;
	margin-right: -51px;
}

#u472
{
	position: absolute;
	width: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 181px;
	top: 64px;
	left: 668px;
}

#u472popup
{
	z-index: 75;
}

#u473
{
	z-index: 76;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#u477
{
	z-index: 78;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 85px;
}

#u475
{
	z-index: 80;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 155px;
}

#u473.SSSlideLinkSelected,#u477.SSSlideLinkSelected,#u475.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u440_clip,#u444_clip,#u442_clip,#u473_clip,#u477_clip,#u475_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u440_img,#u444_img,#u442_img,#u473_img,#u477_img,#u475_img
{
	margin-left: -4px;
	margin-right: -3px;
}

#u482-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 331px;
	left: 749px;
}

#u482-4popup
{
	z-index: 82;
}

#u488-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 331px;
	left: 718px;
}

#u488-4popup
{
	z-index: 86;
}

#u449,#u455,#u482,#u488
{
	color: #999999;
}

#u496-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 330px;
	left: 818px;
}

#u496-4popup
{
	z-index: 90;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 34px;
}

#page .verticalspacer
{
	clear: both;
}

