.version.gallery /* version checker */
{
	color: #000001;
	background-color: #D0B4F2;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1303px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 103px;
	margin-left: auto;
	margin-right: auto;
}

#u504
{
	z-index: 34;
	width: 136px;
	top: 0px;
	left: 120px;
}

#u249
{
	z-index: 3;
	width: 70px;
	bottom: 39px;
	left: 120px;
}

#slideshowu471
{
	z-index: 131;
	width: 0.01px;
	height: 477px;
	position: relative;
	margin-right: -10000px;
	margin-top: 826px;
	left: 33px;
}

#u489
{
	position: absolute;
	width: 612px;
	height: 477px;
	background-color: transparent;
}

#u489popup
{
	z-index: 132;
}

#u490
{
	z-index: 133;
	width: 612px;
	height: 477px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u870
{
	z-index: 135;
	width: 612px;
	height: 477px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u879
{
	z-index: 137;
	width: 612px;
	height: 477px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u888
{
	z-index: 139;
	width: 612px;
	height: 477px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u888_img
{
	margin-top: -33px;
	margin-bottom: -34px;
}

#u897
{
	z-index: 141;
	width: 612px;
	height: 477px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u897_img
{
	margin-top: -37px;
	margin-bottom: -36px;
}

#u906
{
	z-index: 143;
	width: 612px;
	height: 477px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u888_clip,#u897_clip,#u906_clip
{
	overflow: hidden;
	width: 612px;
	height: 477px;
}

#u906_img
{
	margin-top: -41px;
	margin-bottom: -42px;
}

#u915
{
	z-index: 145;
	width: 612px;
	height: 477px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u472
{
	position: absolute;
	width: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 71px;
	top: 64px;
	left: 668px;
}

#u472popup
{
	z-index: 147;
}

#u473
{
	z-index: 148;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#u873
{
	z-index: 150;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 85px;
}

#u882
{
	z-index: 152;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 155px;
}

#u473.SSSlideLinkSelected,#u873.SSSlideLinkSelected,#u882.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u891
{
	z-index: 154;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 15px;
}

#u891_img
{
	margin-top: -4px;
	margin-bottom: -4px;
}

#u900
{
	z-index: 156;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 85px;
}

#u900_img
{
	margin-top: -4px;
	margin-bottom: -5px;
}

#u909
{
	z-index: 158;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 155px;
}

#u891.SSSlideLinkSelected,#u900.SSSlideLinkSelected,#u909.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 55px -10000px 0px 0px;
}

#u909_img
{
	margin-top: -5px;
	margin-bottom: -5px;
}

#u918
{
	z-index: 160;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 15px;
}

#u918.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 110px -10000px 0px 0px;
}

#u482-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 331px;
	left: 749px;
}

#u482-4popup
{
	z-index: 162;
}

#u488-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 331px;
	left: 718px;
}

#u488-4popup
{
	z-index: 166;
}

#u496-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 330px;
	left: 818px;
}

#u496-4popup
{
	z-index: 170;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#slideshowu438
{
	z-index: 36;
	width: 0.01px;
	height: 444px;
	position: relative;
	margin-right: -10000px;
	margin-top: 199px;
	left: 60px;
}

#u456
{
	position: absolute;
	width: 567px;
	height: 396px;
	background-color: transparent;
	top: 2px;
	left: 253px;
}

#u456popup
{
	z-index: 37;
}

#u457
{
	z-index: 38;
	width: 567px;
	height: 396px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u653
{
	z-index: 40;
	width: 567px;
	height: 396px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u662
{
	z-index: 42;
	width: 567px;
	height: 396px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u671
{
	z-index: 44;
	width: 567px;
	height: 396px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u680
{
	z-index: 46;
	width: 567px;
	height: 396px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u689
{
	z-index: 48;
	width: 567px;
	height: 396px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u689_img
{
	margin-top: -35px;
	margin-bottom: -34px;
}

#u698
{
	z-index: 50;
	width: 567px;
	height: 396px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u698_img
{
	margin-left: -14px;
	margin-right: -13px;
}

#u707
{
	z-index: 52;
	width: 567px;
	height: 396px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u716
{
	z-index: 54;
	width: 567px;
	height: 396px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u716_img
{
	margin-top: -27px;
	margin-bottom: -28px;
}

#u725
{
	z-index: 56;
	width: 567px;
	height: 396px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u725_img
{
	margin-left: -61px;
	margin-right: -62px;
}

#u734
{
	z-index: 58;
	width: 567px;
	height: 396px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u743
{
	z-index: 60;
	width: 567px;
	height: 396px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u752
{
	z-index: 62;
	width: 567px;
	height: 396px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u761
{
	z-index: 64;
	width: 567px;
	height: 396px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u770
{
	z-index: 66;
	width: 567px;
	height: 396px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u779
{
	z-index: 68;
	width: 567px;
	height: 396px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u788
{
	z-index: 70;
	width: 567px;
	height: 396px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u689_clip,#u698_clip,#u716_clip,#u725_clip,#u788_clip
{
	overflow: hidden;
	width: 567px;
	height: 396px;
}

#u788_img
{
	margin-left: -13px;
	margin-right: -13px;
}

#u797
{
	z-index: 72;
	width: 567px;
	height: 396px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u806
{
	z-index: 74;
	width: 567px;
	height: 396px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u439
{
	position: absolute;
	width: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
}

#u439popup
{
	z-index: 76;
}

#u440
{
	z-index: 77;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 15px;
}

#u656
{
	z-index: 79;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 85px;
}

#u665
{
	z-index: 81;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 155px;
}

#u440.SSSlideLinkSelected,#u656.SSSlideLinkSelected,#u665.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 4px -10000px 0px 0px;
}

#u674
{
	z-index: 83;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 15px;
}

#u683
{
	z-index: 85;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 85px;
}

#u692
{
	z-index: 87;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 155px;
}

#u674.SSSlideLinkSelected,#u683.SSSlideLinkSelected,#u692.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 59px -10000px 0px 0px;
}

#u692_img
{
	margin-top: -2px;
	margin-bottom: -2px;
}

#u701
{
	z-index: 89;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	left: 15px;
}

#u701_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u710
{
	z-index: 91;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	left: 85px;
}

#u719
{
	z-index: 93;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	left: 155px;
}

#u701.SSSlideLinkSelected,#u710.SSSlideLinkSelected,#u719.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 114px -10000px 0px 0px;
}

#u719_img
{
	margin-top: -1px;
	margin-bottom: -2px;
}

#u728
{
	z-index: 95;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: 15px;
}

#u737
{
	z-index: 97;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: 85px;
}

#u746
{
	z-index: 99;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: 155px;
}

#u728.SSSlideLinkSelected,#u737.SSSlideLinkSelected,#u746.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 169px -10000px 0px 0px;
}

#u755
{
	z-index: 101;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 224px;
	left: 15px;
}

#u764
{
	z-index: 103;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 224px;
	left: 85px;
}

#u773
{
	z-index: 105;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 224px;
	left: 155px;
}

#u755.SSSlideLinkSelected,#u764.SSSlideLinkSelected,#u773.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 224px -10000px 0px 0px;
}

#u782
{
	z-index: 107;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 279px;
	left: 15px;
}

#u791
{
	z-index: 109;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 279px;
	left: 85px;
}

#u891_clip,#u900_clip,#u909_clip,#u692_clip,#u701_clip,#u719_clip,#u791_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u791_img
{
	margin-left: -4px;
	margin-right: -3px;
}

#u800
{
	z-index: 111;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 279px;
	left: 155px;
}

#u782.SSSlideLinkSelected,#u791.SSSlideLinkSelected,#u800.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 279px -10000px 0px 0px;
}

#u809
{
	z-index: 113;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 334px;
	left: 15px;
}

#u809.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 334px -10000px 0px 0px;
}

#u449-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 404px;
	left: 511px;
}

#u449-4popup
{
	z-index: 115;
}

#u455-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 404px;
	left: 480px;
}

#u455-4popup
{
	z-index: 119;
}

#u482,#u488,#u449,#u455
{
	color: #999999;
}

#u463-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 404px;
	left: 580px;
}

#u463-4popup
{
	z-index: 123;
}

#u255-4
{
	z-index: 5;
	width: 358px;
	min-height: 28px;
	bottom: 54px;
	left: 199px;
}

#menuu115
{
	z-index: 9;
	width: 784px;
	top: 0px;
	left: 50%;
	margin-left: -324px;
}

#u143
{
	width: 194px;
	min-height: 58px;
	margin-right: -10000px;
}

#u144
{
	width: 194px;
	padding-bottom: 12px;
}

#u144:hover
{
	margin: 0px;
}

#u146-4
{
	width: 190px;
	min-height: 42px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 6px;
}

#u144:hover #u146-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px -10000px 0px 0px;
}

#u156
{
	width: 194px;
	min-height: 58px;
	margin-right: -10000px;
	left: 196px;
}

#u159
{
	width: 194px;
	padding-bottom: 12px;
}

#u144.MuseMenuActive,#u159:hover
{
	margin: 0px;
}

#u161-4
{
	width: 190px;
	min-height: 42px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 6px;
}

#u144.MuseMenuActive #u146-4,#u159:hover #u161-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px -10000px 0px 0px;
}

#u169
{
	width: 195px;
	min-height: 58px;
	margin-right: -10000px;
	left: 392px;
}

#u172
{
	width: 195px;
	padding-bottom: 12px;
}

#u159.MuseMenuActive,#u172:hover
{
	margin: 0px;
}

#u173-4
{
	width: 191px;
	min-height: 42px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 6px;
}

#u159.MuseMenuActive #u161-4,#u172:hover #u173-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px -10000px 0px 0px;
}

#u182
{
	width: 195px;
	min-height: 58px;
	margin-right: -10000px;
	left: 589px;
}

#u185
{
	width: 195px;
	padding-bottom: 12px;
}

#u172.MuseMenuActive,#u185:hover
{
	margin: 0px;
}

#u185.MuseMenuActive
{
	margin: 0px;
}

#u186-4
{
	width: 191px;
	min-height: 42px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 6px;
}

#u172.MuseMenuActive #u173-4,#u185:hover #u186-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px -10000px 0px 0px;
}

#u185.MuseMenuActive #u186-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px -10000px 0px 0px;
}

#pu470-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 126px;
	margin-left: 187px;
}

#u470-4
{
	z-index: 127;
	width: 573px;
	min-height: 54px;
	background-color: transparent;
	line-height: 53px;
	font-size: 44px;
	color: #FFFFFF;
	font-family: droid-serif, serif;
	font-weight: 400;
	margin-left: 62px;
	position: relative;
}

#u503-4
{
	z-index: 174;
	width: 660px;
	min-height: 61px;
	background-color: transparent;
	line-height: 53px;
	font-size: 44px;
	color: #FFFFFF;
	font-family: droid-serif, serif;
	font-weight: 400;
	margin-top: 525px;
	position: relative;
}

#pu932-4
{
	width: 0.01px;
	padding-bottom: 703px;
	margin-right: -10000px;
	margin-top: 76px;
	margin-left: 326px;
}

#u932-4
{
	z-index: 178;
	width: 432px;
	min-height: 30px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	color: #FFFFFF;
	font-family: droid-serif, serif;
	font-weight: 400;
	position: fixed;
	top: 76px;
	left: 50%;
	margin-left: -154px;
}

#u189
{
	z-index: 2;
	width: 147px;
	min-height: 32px;
	bottom: 54px;
	right: 105px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 34px;
}

#page .verticalspacer
{
	clear: both;
}

