.version.index /* version checker */
{
	color: #0000E4;
	background-color: #EC3FDE;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 735px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 64px;
	margin-left: auto;
	margin-right: auto;
}

#u504
{
	z-index: 34;
	width: 136px;
	top: 0px;
	left: 120px;
}

#slideshowu199
{
	z-index: 36;
	width: 0.01px;
	height: 605px;
	position: relative;
	margin-right: -10000px;
	margin-top: 153px;
	left: 20px;
}

#u217
{
	position: absolute;
	width: 920px;
	height: 552px;
	background-color: transparent;
}

#u217popup
{
	z-index: 37;
}

#u220
{
	z-index: 38;
	width: 920px;
	height: 552px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u529
{
	z-index: 40;
	width: 920px;
	height: 552px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u529_img
{
	margin-left: -32px;
	margin-right: -31px;
}

#u538
{
	z-index: 42;
	width: 920px;
	height: 552px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u547
{
	z-index: 44;
	width: 920px;
	height: 552px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u529_clip,#u547_clip
{
	overflow: hidden;
	width: 920px;
	height: 552px;
}

#u547_img
{
	margin-top: -28px;
	margin-bottom: -29px;
}

#u200-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 565px;
	left: 426px;
}

#u200-4popup
{
	z-index: 46;
}

#u201-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 565px;
	left: 395px;
}

#u201-4popup
{
	z-index: 50;
}

#u200,#u201
{
	color: #999999;
}

#u214-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 565px;
	left: 495px;
}

#u214-4popup
{
	z-index: 54;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u249
{
	z-index: 3;
	width: 70px;
	bottom: 39px;
	left: 120px;
}

#u255-4
{
	z-index: 5;
	width: 358px;
	min-height: 28px;
	bottom: 54px;
	left: 199px;
}

#menuu115
{
	z-index: 9;
	width: 784px;
	top: 0px;
	left: 50%;
	margin-left: -324px;
}

#u143
{
	width: 194px;
	min-height: 58px;
	margin-right: -10000px;
}

#u144
{
	width: 194px;
	padding-bottom: 12px;
}

#u144:hover
{
	margin: 0px;
}

#u146-4
{
	width: 190px;
	min-height: 42px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 6px;
}

#u144:hover #u146-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px -10000px 0px 0px;
}

#u156
{
	width: 194px;
	min-height: 58px;
	margin-right: -10000px;
	left: 196px;
}

#u159
{
	width: 194px;
	padding-bottom: 12px;
}

#u144.MuseMenuActive,#u159:hover
{
	margin: 0px;
}

#u161-4
{
	width: 190px;
	min-height: 42px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 6px;
}

#u144.MuseMenuActive #u146-4,#u159:hover #u161-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px -10000px 0px 0px;
}

#u169
{
	width: 195px;
	min-height: 58px;
	margin-right: -10000px;
	left: 392px;
}

#u172
{
	width: 195px;
	padding-bottom: 12px;
}

#u159.MuseMenuActive,#u172:hover
{
	margin: 0px;
}

#u173-4
{
	width: 191px;
	min-height: 42px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 6px;
}

#u159.MuseMenuActive #u161-4,#u172:hover #u173-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px -10000px 0px 0px;
}

#u182
{
	width: 195px;
	min-height: 58px;
	margin-right: -10000px;
	left: 589px;
}

#u185
{
	width: 195px;
	padding-bottom: 12px;
}

#u172.MuseMenuActive,#u185:hover
{
	margin: 0px;
}

#u185.MuseMenuActive
{
	margin: 0px;
}

#u186-4
{
	width: 191px;
	min-height: 42px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 6px;
}

#u172.MuseMenuActive #u173-4,#u185:hover #u186-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px -10000px 0px 0px;
}

#u185.MuseMenuActive #u186-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px -10000px 0px 0px;
}

#ppu194-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 83px;
	margin-left: 157px;
}

#pu194-4
{
	width: 0.01px;
}

#u194-4
{
	z-index: 58;
	width: 472px;
	min-height: 98px;
	border-color: #000000;
	background-color: transparent;
	line-height: 98px;
	font-size: 82px;
	color: #FFFFFF;
	font-family: droid-serif, serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
}

#u196-4
{
	z-index: 62;
	width: 408px;
	min-height: 76px;
	background-color: transparent;
	line-height: 71px;
	font-size: 59px;
	color: #FFFFFF;
	font-family: alex-brush, cursive;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 433px;
}

#u240-4
{
	z-index: 66;
	width: 397px;
	min-height: 41px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	color: #FFFFFF;
	font-family: alex-brush, cursive;
	font-weight: 400;
	margin-left: 374px;
	margin-top: 411px;
	position: relative;
}

#u189
{
	z-index: 2;
	width: 147px;
	min-height: 32px;
	bottom: 54px;
	right: 105px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 34px;
}

#page .verticalspacer
{
	clear: both;
}

