#u144
{
	background-color: #EEEEEE;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
}

#u144:hover
{
	background-color: #AAAAAA;
}

#u146-4
{
	background-color: transparent;
	line-height: 42px;
	font-size: 35px;
	text-align: center;
	font-family: alex-brush, cursive;
	font-weight: 400;
	position: relative;
}

#u159
{
	background-color: #EEEEEE;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
}

#u159:hover
{
	background-color: #AAAAAA;
}

#u161-4
{
	background-color: transparent;
	line-height: 42px;
	font-size: 35px;
	text-align: center;
	font-family: alex-brush, cursive;
	font-weight: 400;
	position: relative;
}

#u172
{
	background-color: #EEEEEE;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
}

#u172:hover
{
	background-color: #AAAAAA;
}

#u173-4
{
	background-color: transparent;
	line-height: 42px;
	font-size: 35px;
	text-align: center;
	font-family: alex-brush, cursive;
	font-weight: 400;
	position: relative;
}

#u504,#u143,#u156,#u169,#u182
{
	background-color: transparent;
	position: relative;
}

#u185
{
	background-color: #EEEEEE;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
}

#u185:hover
{
	background-color: #AAAAAA;
}

#u144.MuseMenuActive,#u159.MuseMenuActive,#u172.MuseMenuActive,#u185.MuseMenuActive
{
	background-color: #666666;
}

#u186-4
{
	background-color: transparent;
	line-height: 42px;
	font-size: 35px;
	text-align: center;
	font-family: alex-brush, cursive;
	font-weight: 400;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u249
{
	background-color: transparent;
	position: fixed;
}

#menuu115,#u189
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u255-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: fixed;
}

